## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
x=7**4
print(x)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s = "Hi there Sam!"
l = s.split()
print(l)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [7]:
s = "The diameter of the {planet} is {diameter} kilometers."

In [8]:
print(s.format(planet = "Earth",diameter = 12742))

The diameter of the Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [16]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [18]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [19]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [20]:
print("list can be modified where as tuple can not be modified")

list can be modified where as tuple can not be modified

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [26]:
def domain(s):
  l = s.split('@')
  return l[1]

In [27]:
s = input()
print(domain(s))

19z349@psgtech.ac.in
psgtech.ac.in

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [28]:
from logging import fatal
def contain(inp):
  temp = inp.split(" ")
  com = ['d','o','g']
  flag = -1
  for i in temp:
    if(len(i)==3 or len(i)==4):
      for j in range(len(i)):
        if(i[j] != com[j]):
          break
        elif(j == len(com)-1):
          return True
  return False

In [29]:
inp = input()
print(contain(inp))

dog is being taken to the hospital
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [31]:
def contain(inp):
  com=['d','o','g']
  temp = inp.split(" ")
  count = 0
  for i in temp:
    if(len(i) == 3 or len(i)== 4):
      for j in range(len(i)):
        if(i[j] != com[j]):
          break
        elif(j == len(com)-1):
          count +=1
  return count

In [32]:
inp = input()
print(contain(inp))

That dog was a extremely intelligent dog
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [34]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [35]:
print(caught_speeding(85,False))

Big Ticket

In [36]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [38]:
salary = [15000,16000,17000,10800,30000]
total_exp = 0
for i in salary:
  total_exp+=i
print("the total salary expenditure is {sum}".format(sum=total_exp))

the total salary expenditure is 88800

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [42]:
def merge(dict1, dict2):
    return(dict2.update(dict1))

from collections import Counter

dic_1 = Counter({'employ' : ['Empid','Empname','Basicpay']})
dic_2 = Counter({'employ' : ['DeptName','DeptId']})


print(str(dic_1))
print(str(dic_2))

final_dic = merge(dic_1,dic_2)
print(str(final_dic))

Counter({'employ': ['Empid', 'Empname', 'Basicpay']})
Counter({'employ': ['DeptName', 'DeptId']})
None